.App {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.auth {
  display: flex;
}

.alert {
  position: absolute;
  bottom: 10px;
}

.game {
  height: 100%;
  width: 100%;
}

.row {
  height: 100%;
}

.col-6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.red-box {
  width: 100px;
  height: 100px;
  background-color: red;
}

.instructions {
  font-weight: bold;
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
}
